
<style>
        @media (max-width:379px){
            .small{
                font-size:.7em;
            }
        }
</style>
<style>
        @media (max-width:300px){
            .small{
                font-size:.5em;
            }
        }
</style>
<style>
        @media (max-width:379px){
            .less{
                font-size:2em;
            }
        }
</style>


<h1 class="text-center" style="padding-top:1em">Bem vindo, Diácono <%=current_admin.first_name%></h1>
<br><br>
<h1 class="text-center less" style="font-weight: bold;">Escala do mês de Setembro/2022</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="small">
        <tr>
            <th>Data</th>
            <th>Manhã</th>
            <th>Noite</th>
        </tr>
    </thead>
    <tbody class="small">
        <tr>
            <td>18</td>
            <td>Gerson/Edésio</td>
            <td>Eliezer/Rafael</td>
        </tr>
        <tr>
            <td>21(quarta feira)</td>
            <td>---</td>
            <td>Rafael</td>
        </tr>
        <tr>
            <td>25</td>
            <td>João Marcelo/Marcelo</td>
            <td>Walter/Edesio</td>
        </tr>
        <tr>
            <td>28(quarta feira)</td>
            <td>---</td>
            <td>Eliezer</td>
        </tr>
    </tbody>
</table>        
